@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap");

/* ============================================================= */
/*        CORE ELEMENTS: HEADER, FOOTER, HERO IMAGES */
/* ============================================================= */

/*------ Behind the Scenes -----*/
:root {
  /* Color Palette */
  --primary-color: #5fb6bd;
  --secondary-color: #aaefdf;
  --tertiary-color: #124559;
  --accent-color: #fe5f55;
  --lightfont-color: white;
  --darkfont-color: #01161e;
  /* Font Selection */
  --header1-text: "Quicksand", Tahoma, sans-serif;
  --header2-text: "Comfortaa", Tahoma, sans-serif;
  --paragraph-text: "Montserrat", Times, sans-serif;
  /* Font Sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --medium-font: 1.5em;
  --large-font: 2em;
  --extra-large-font: 2.5em;
}

body {
  margin: 0;
  padding: 0;
  cursor: url("https://github.com/kjirstenhernandez/BaseTemplate/blob/main/src/public/images/yarn.png?raw=true"),
    auto;
}

/* -------Defaults ------ */
h1 {
  font-family: var(--header1-text);
  font-size: var(--large-font);
}
h2,
h3,
h4 {
  font-family: var(--header2-text);
  font-size: var(--large-font);
}
h5,
h6,
p,
span {
  font-family: var(--paragraph-text);
}

button {
  background-color: #f6f5f4;
  color: var(--darkfont-color);
}

a {
  text-decoration: none;
}

/* ------ Header ----- */

header > div {
  background-color: var(--primary-color);
  text-align: center;
  font-family: var(--header1-text);
  padding: 1rem;
}

header a {
  text-decoration: none;
  color: var(--darkfont-color);
}

header img {
  margin-bottom: -20px;
}

/*------ Navigation -----*/

#navigation {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: -1rem;
  box-shadow: 3px #01161e;
}

.nav-list a {
  /* text-align: center; */
  color: var(--light-color);
  text-decoration: none;
  padding: 2rem;
  letter-spacing: 3px;
  font-family: var(--header2-text);
  font-size: var(--font-base);
  text-shadow: 3px 2px #301d3543;
}

.nav-list {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  text-transform: uppercase;
}

/* ----- Footer ----- */

footer {
  font-family: var(--paragraph-text);
  color: var(--darkfont-color);
  background-color: var(--secondary-color);
  padding: 2rem 1rem;
  margin-top: 10rem;
}

footer a {
  color: var(--dark-color);
  text-decoration: none;
  transition: color 0.3s;
}

footer a:hover {
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-main {
  display: flex;
  margin-bottom: 4rem;
}

.footer-column {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
}

.footer-heading {
  margin-bottom: 1rem;
}

.footer-link {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}

footer-bottom {
  display: flex;
}

.copyright {
  margin-right: auto;
}

.footer-social {
  font-size: 20px;
  margin-left: 1rem;
}

/* ============================================================= */
/*                          HOME PAGE
/* ============================================================= */

/*--------- Main Content----------- */

main {
  text-align: center;
}

#intro {
  padding: 2rem;
}

/*--------- Slideshow ---------*/

* {
  box-sizing: border-box;
}
.image-slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.fade {
  animation-name: fadein;
  animation-duration: 2s;
}

.image img {
  border-radius: 10px;
  box-shadow: #01161e84 0.5rem 0.5rem 0.5rem;
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 500px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ============================================================= */
/*                          BREEDS PAGE
/* ============================================================= */
.cats {
  text-align: center;
}

.details ul {
  margin: 0 auto;
  column-count: 4;
  width: 80%;
}

.details ul li {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: var(--medium-font);
  font-family: var(--paragraph-text);
  font-weight: 500;
  background-color: var(--accent-color);
  color: var(--lightfont-color);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.433) 0px 1px 3px -1px;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.cat-card:hover {
  background-color: #195066;
}

/* ---- Cat Details Pop-up */

.catDetailGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gridLeft {
  grid-column: 1/2;
}

.gridRight {
  grid-column: 2/3;
  padding: 1rem;
}

.cat-detail {
  width: 70%;
  background-color: var(--secondary-color);
  overflow: scroll;
  scrollbar-width: thin;
  position: fixed;
  top: 5px;
  left: 5px;
  text-align: center;
  border-radius: 10px;
}

.cat-detail a {
  margin-top: -10px;
  font-size: var(--medium-font);
  text-decoration: none;
  font-family: var(--paragraph-text);
  color: var(--darkfont-color);
  font-style: italic;
}

.cat-detail img {
  max-width: 500px;
  width: 90%;
  padding: 0.5rem;
}

.cat-detail p {
  font-size: var(--font-base);
}

.cat-detail button {
  padding: 1rem;
  font-size: var(--font-base);
  border: none;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.753) 0px 1px 3px -1px;
}

#closeButton {
  position: absolute;
  top: 3px;
  left: 3px;
}

button:active {
  background-color:;
}

#added {
  font-size: small;
  font-style: italic;
}
/* ============================================================= */
/*                          FAVORITES PAGE
/* ============================================================= */

#favoriteslist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
}

.thumb {
  width: auto;
  max-width: 200px;
}

.favCard {
  width: auto;
  max-width: 400px;
  padding: 1rem;
  background-color: var(--secondary-color);
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.favCard a {
  font-family: var(--paragraph-text);
  color: var(--darkfont-color);
}

.favInfo {
  text-align: center;
  margin: 0 auto;
}

.remove {
  background-color: --;
  margin-top: 0 auto;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: var(--font-base);
}

/* ============================================================= */
/*                          MEDIA QUERIES
/* ============================================================= */

/* ============== Medium Screens ================ */
@media only screen and (max-width: 1025px) {
  .details ul {
    column-count: 2;
  }

  .catDetailGrid {
    grid-template-columns: 1fr;
  }

  .gridLeft {
    grid-column: 1;
  }

  .gridRight {
    grid-column: 1;
  }

  .cat-detail {
    width: fit-content;
  }
}
/* ============== Small Screens ================ */
@media screen and (max-width: 700px) {
  /* ----- Footer------ */
  .navigation {
    flex-direction: column;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    padding: 1rem;
  }

  .footer-main {
    flex-direction: column;
  }

  .details ul {
    column-count: 1;
  }

  /* NO CODE BEYOND THIS POINT */
}
